<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SionTrack</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/dashboard.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-papNM5x+Ywz0pAOeR9pL07S4FqfT1qv7KX8Tzq2VjDaYlYf8yTfsvcm6fKzN2GHQygdvY6Wf67A5xH3U3Yx04g=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />

    <script th:src="@{/js/dashboard.js}" defer></script>
</head>

<body>
    <div th:replace="layout/fragments :: sidebar"></div>

    <main class="main-content" id="main-content">
        <div class="title-container">
            <h1 class="main-title">SionTrack</h1>
        </div>
    </main>
</body>
</html>
